/*By Shrey Asthana*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body {
	width: 80%;
	max-width: 1024px;
  font-family: 'Open Sans', sans-serif;
	margin: 0 auto;
  background-image: url(../docs/bg2.jpg);
  background-size: 100%;
  background-attachment: fixed;
}

.about{
  position:relative;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px;
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 15px;
  color: white;
}
.hright {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
	color: white;
  float: right;
  margin-top: 8px;
  padding-right: 50px;
}
.hleft {
  position: absolute;
  padding-top:20px;
  color: white;
  float: left;
  margin-left: 80px;
}
a {
	color: white;
}
.container-padding50 {
	padding-top: 150px;
}

.container-textinput {
	width: 60%;
	display: inline-block;
	padding: 20px;
  margin-left: 9%;
	font-size: 20px;
	font-family: cursive;
}
.container-button {
  width: 15%;
  display: inline-block;
  padding: 10px;

  color: white;
  font-size: 20px;
  border: 1px solid grey;
  
}


.container-image {
	width: 30%;
	display: block;
	float: left;
	margin-right:3%;
}

/*.....Search Button Properties.....*/

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
